.btn-primary {
  color: #fff;
  background-color: #32373c;
  border-radius: 9999px;
  box-shadow: none;
  text-decoration: none;
  padding: calc(0.667em + 2px) calc(1.333em + 2px);
  font-size: 1.125em;
}

.btn-secondary {
  background: #32373c;
  color: #fff;
  text-decoration: none;
}

/* Global CSS Variables */
:root {
  --aspect-ratio-square: 1;
  --aspect-ratio-4-3: 4/3;
  --aspect-ratio-3-4: 3/4;
  --aspect-ratio-3-2: 3/2;
  --aspect-ratio-2-3: 2/3;
  --aspect-ratio-16-9: 16/9;
  --aspect-ratio-9-16: 9/16;
  --color-black: #000000;
  --color-cyan-bluish-gray: #abb8c3;
  --color-white: #ffffff;
  --color-pale-pink: #f78da7;
  --color-vivid-red: #cf2e2e;
  --color-luminous-vivid-orange: #ff6900;
  --color-luminous-vivid-amber: #fcb900;
  --color-light-green-cyan: #7bdcb5;
  --color-vivid-green-cyan: #00d084;
  --color-pale-cyan-blue: #8ed1fc;
  --color-vivid-cyan-blue: #0693e3;
  --color-vivid-purple: #9b51e0;
  --gradient-vivid-cyan-blue-to-vivid-purple: linear-gradient(
    135deg,
    rgba(6, 147, 227, 1) 0%,
    rgb(155, 81, 224) 100%
  );
  --gradient-light-green-cyan-to-vivid-green-cyan: linear-gradient(
    135deg,
    rgb(122, 220, 180) 0%,
    rgb(0, 208, 130) 100%
  );
  --gradient-luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(
    135deg,
    rgba(252, 185, 0, 1) 0%,
    rgba(255, 105, 0, 1) 100%
  );
  --gradient-luminous-vivid-orange-to-vivid-red: linear-gradient(
    135deg,
    rgba(255, 105, 0, 1) 0%,
    rgb(207, 46, 46) 100%
  );
  --gradient-very-light-gray-to-cyan-bluish-gray: linear-gradient(
    135deg,
    rgb(238, 238, 238) 0%,
    rgb(169, 184, 195) 100%
  );
  --gradient-cool-to-warm-spectrum: linear-gradient(
    135deg,
    rgb(74, 234, 220) 0%,
    rgb(151, 120, 209) 20%,
    rgb(207, 42, 186) 40%,
    rgb(238, 44, 130) 60%,
    rgb(251, 105, 98) 80%,
    rgb(254, 248, 76) 100%
  );
  --gradient-blush-light-purple: linear-gradient(
    135deg,
    rgb(255, 206, 236) 0%,
    rgb(152, 150, 240) 100%
  );
  --gradient-blush-bordeaux: linear-gradient(
    135deg,
    rgb(254, 205, 165) 0%,
    rgb(254, 45, 45) 50%,
    rgb(107, 0, 62) 100%
  );
  --gradient-luminous-dusk: linear-gradient(
    135deg,
    rgb(255, 203, 112) 0%,
    rgb(199, 81, 192) 50%,
    rgb(65, 88, 208) 100%
  );
  --gradient-pale-ocean: linear-gradient(
    135deg,
    rgb(255, 245, 203) 0%,
    rgb(182, 227, 212) 50%,
    rgb(51, 167, 181) 100%
  );
  --gradient-electric-grass: linear-gradient(
    135deg,
    rgb(202, 248, 128) 0%,
    rgb(113, 206, 126) 100%
  );
  --gradient-midnight: linear-gradient(
    135deg,
    rgb(2, 3, 129) 0%,
    rgb(40, 116, 252) 100%
  );
  --font-size-small: 13px;
  --font-size-medium: 20px;
  --font-size-large: 36px;
  --font-size-x-large: 42px;
  --spacing-20: 0.44rem;
  --spacing-30: 0.67rem;
  --spacing-40: 1rem;
  --spacing-50: 1.5rem;
  --spacing-60: 2.25rem;
  --spacing-70: 3.38rem;
  --spacing-80: 5.06rem;
  --shadow-natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
  --shadow-deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
  --shadow-sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
  --shadow-outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1),
    6px 6px rgba(0, 0, 0, 1);
  --shadow-crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}

/* Layout Styles */
.flex-layout {
  gap: 0.5em;
}

.grid-layout {
  gap: 0.5em;
}

body .flex-layout {
  display: flex;
}

.flex-layout {
  flex-wrap: wrap;
  align-items: center;
}

.flex-layout > :is(*, div) {
  margin: 0;
}

body .grid-layout {
  display: grid;
}

.grid-layout > :is(*, div) {
  margin: 0;
}

.columns-flex {
  gap: 2em;
}

.columns-grid {
  gap: 2em;
}

.template-flex {
  gap: 1.25em;
}

.template-grid {
  gap: 1.25em;
}

/* Color Classes */
.text-black {
  color: var(--color-black) !important;
}

.text-cyan-bluish-gray {
  color: var(--color-cyan-bluish-gray) !important;
}

.text-white {
  color: var(--color-white) !important;
}

.text-pale-pink {
  color: var(--color-pale-pink) !important;
}

.text-vivid-red {
  color: var(--color-vivid-red) !important;
}

.text-luminous-vivid-orange {
  color: var(--color-luminous-vivid-orange) !important;
}

.text-luminous-vivid-amber {
  color: var(--color-luminous-vivid-amber) !important;
}

.text-light-green-cyan {
  color: var(--color-light-green-cyan) !important;
}

.text-vivid-green-cyan {
  color: var(--color-vivid-green-cyan) !important;
}

.text-pale-cyan-blue {
  color: var(--color-pale-cyan-blue) !important;
}

.text-vivid-cyan-blue {
  color: var(--color-vivid-cyan-blue) !important;
}

.text-vivid-purple {
  color: var(--color-vivid-purple) !important;
}

/* Background Color Classes */
.bg-black {
  background-color: var(--color-black) !important;
}

.bg-cyan-bluish-gray {
  background-color: var(--color-cyan-bluish-gray) !important;
}

.bg-white {
  background-color: var(--color-white) !important;
}

.bg-pale-pink {
  background-color: var(--color-pale-pink) !important;
}

.bg-vivid-red {
  background-color: var(--color-vivid-red) !important;
}

.bg-luminous-vivid-orange {
  background-color: var(--color-luminous-vivid-orange) !important;
}

.bg-luminous-vivid-amber {
  background-color: var(--color-luminous-vivid-amber) !important;
}

.bg-light-green-cyan {
  background-color: var(--color-light-green-cyan) !important;
}

.bg-vivid-green-cyan {
  background-color: var(--color-vivid-green-cyan) !important;
}

.bg-pale-cyan-blue {
  background-color: var(--color-pale-cyan-blue) !important;
}

.bg-vivid-cyan-blue {
  background-color: var(--color-vivid-cyan-blue) !important;
}

.bg-vivid-purple {
  background-color: var(--color-vivid-purple) !important;
}

/* Border Color Classes */
.black-border {
  border-color: var(--color-black) !important;
}

.cyan-bluish-gray-border {
  border-color: var(--color-cyan-bluish-gray) !important;
}

.white-border {
  border-color: var(--color-white) !important;
}

.pale-pink-border {
  border-color: var(--color-pale-pink) !important;
}

.vivid-red-border {
  border-color: var(--color-vivid-red) !important;
}

.luminous-vivid-orange-border {
  border-color: var(--color-luminous-vivid-orange) !important;
}

.luminous-vivid-amber-border {
  border-color: var(--color-luminous-vivid-amber) !important;
}

.light-green-cyan-border {
  border-color: var(--color-light-green-cyan) !important;
}

.vivid-green-cyan-border {
  border-color: var(--color-vivid-green-cyan) !important;
}

.pale-cyan-blue-border {
  border-color: var(--color-pale-cyan-blue) !important;
}

.vivid-cyan-blue-border {
  border-color: var(--color-vivid-cyan-blue) !important;
}

.vivid-purple-border {
  border-color: var(--color-vivid-purple) !important;
}

/* Gradient Background Classes */
.vivid-cyan-blue-to-vivid-purple-gradient-background {
  background: var(--gradient-vivid-cyan-blue-to-vivid-purple) !important;
}

.light-green-cyan-to-vivid-green-cyan-gradient-background {
  background: var(--gradient-light-green-cyan-to-vivid-green-cyan) !important;
}

.luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
  background: var(--gradient-luminous-vivid-amber-to-luminous-vivid-orange) !important;
}

.luminous-vivid-orange-to-vivid-red-gradient-background {
  background: var(--gradient-luminous-vivid-orange-to-vivid-red) !important;
}

.very-light-gray-to-cyan-bluish-gray-gradient-background {
  background: var(--gradient-very-light-gray-to-cyan-bluish-gray) !important;
}

.cool-to-warm-spectrum-gradient-background {
  background: var(--gradient-cool-to-warm-spectrum) !important;
}

.blush-light-purple-gradient-background {
  background: var(--gradient-blush-light-purple) !important;
}

.blush-bordeaux-gradient-background {
  background: var(--gradient-blush-bordeaux) !important;
}

.luminous-dusk-gradient-background {
  background: var(--gradient-luminous-dusk) !important;
}

.pale-ocean-gradient-background {
  background: var(--gradient-pale-ocean) !important;
}

.electric-grass-gradient-background {
  background: var(--gradient-electric-grass) !important;
}

.midnight-gradient-background {
  background: var(--gradient-midnight) !important;
}

/* Font Size Classes */
.small-font-size {
  font-size: var(--font-size-small) !important;
}

.medium-font-size {
  font-size: var(--font-size-medium) !important;
}

.large-font-size {
  font-size: var(--font-size-large) !important;
}

.x-large-font-size {
  font-size: var(--font-size-x-large) !important;
}

/* Base styles and custom CSS */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

*, :before, :after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

#logo img {
  vertical-align: middle;
}

/* Navigation styles */
.nav-container {
  z-index: 20;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
}

.mobile-menu-toggle {
  cursor: pointer;
  z-index: 2000;
  width: 16px;
  height: 16px;
  display: none;
  position: relative;
}

.mobile-menu-toggle span {
  background-color: #1d1d1f;
  width: 100%;
  height: 1px;
  transition: all .3s;
  display: block;
  position: absolute;
}

.mobile-menu-toggle span:first-child {
  top: 6px;
}

.mobile-menu-toggle span:nth-child(2) {
  top: 12px;
}

.mobile-menu-toggle.active span:first-child {
  top: 8px;
  transform: rotate(45deg);
}

.mobile-menu-toggle.active span:nth-child(2),
.mobile-menu-toggle.active span:nth-child(3) {
  top: 8px;
  transform: rotate(-45deg);
}

.mobile-nav {
  z-index: 1900;
  background: 0 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: none;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.mobile-nav.open {
  display: block;
}

.mobile-nav-sheet {
  will-change: transform, opacity;
  opacity: 0;
  background: #fafafc;
  width: 100%;
  height: 100dvh;
  min-height: 100vh;
  margin: 0 auto;
  transition: transform .32s cubic-bezier(.4,0,.6,1), opacity .32s cubic-bezier(.4,0,.6,1);
  overflow-y: auto;
}

.mobile-nav.open .mobile-nav-sheet {
  opacity: 1;
}

.mobile-nav-links {
  will-change: transform, opacity;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.mobile-nav-item {
  margin: 0;
  padding: 0 20px;
  position: relative;
}

.mobile-nav-item > a {
  color: #1d1d1f;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: color .32s cubic-bezier(.4,0,.6,1);
  display: flex;
}

.mobile-submenu-panel {
  z-index: 20;
  opacity: 0;
  will-change: transform, opacity;
  pointer-events: none;
  background: #fff;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(100%) scale(1);
}

.mobile-submenu-panel.active {
  pointer-events: auto;
  display: flex;
}

.mobile-submenu-header {
  align-items: center;
  height: 50px;
  padding: 0 20px;
  display: flex;
}

.mobile-submenu-back {
  color: #1d1d1f;
  cursor: pointer;
  background: 0 0;
  border: none;
  align-items: center;
  margin-right: 12px;
  font-size: 16px;
  display: flex;
}

.mobile-submenu-back svg {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.mobile-submenu-content {
  flex: 1;
  padding: 0 20px;
  line-height: 1.3em;
  overflow-y: auto;
}

.mobile-submenu-links {
  margin-block-start: 0;
  padding-inline-start: 0;
  list-style: none;
}

.mobile-submenu-links li {
  margin-bottom: 10px;
}

.mobile-submenu-links a:hover {
  color: #06c;
}

/* Responsive styles */
@media (max-width: 834px) {
  .nav-links {
    display: none;
  }
  
  .mobile-menu-toggle {
    display: block;
  }
  
  body.mobile-nav-open {
    overflow: hidden;
  }
}

@media (max-width: 734px) {
  .submenu-column {
    min-width: 150px;
  }
}

@media (max-width: 480px) {
  .submenu {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .flex-column-mobile {
    flex-direction: column;
  }
}

/* Utility classes */
ul, li {
  list-style-type: none;
}

.datatable-pagination-list-item-link:hover,
.datatable-pagination-list-item.datatable-active .datatable-pagination-list-item-link {
  color: var(--color-primary-700);
  background-color: var(--color-primary-100);
}

.currency-exchange-block {
  align-items: start;
  gap: 6px;
  display: flex;
}

.swiper-wrapper {
  width: 100%;
  position: relative;
  height: max-content !important;
  padding-bottom: 64px !important;
  transition-timing-function: linear !important;
}

.swiper-pagination-bullet-active {
  background: #4f46e5 !important;
}

.swiper-pagination-light .swiper-pagination-bullet-active {
  background: #fff !important;
}

.gallery-thumbs .swiper-slide,
.gallery-thumbs .gallery-thumbs-slide {
  opacity: .6;
  filter: grayscale();
  border-radius: 10px;
  width: auto;
}

.gallery-thumbs .swiper-slide-active,
.gallery-thumbs .gallery-thumbs-slide-active {
  opacity: 1;
  filter: initial;
  color: #231b93;
  font-weight: 700;
}

.gallery-thumbs img {
  cursor: pointer;
  object-fit: contain;
  border-radius: 10px;
  width: auto;
  height: 150px;
}

.gallery-thumbs-slide,
.gallery-thumbs-slide-vertical {
  cursor: pointer;
}

.section-feature-carousel-vertical .swiper-wrapper {
  height: 100% !important;
}

.section-feature-carousel-vertical .gallery-thumbs-slide {
  background-color: #fff0;
}

.section-feature-carousel-vertical .gallery-thumbs-slide-active {
  background-color: #fff3;
}

.section-feature-carousel-vertical .gallery-thumbs-slide-active .gallery-thumbs-slide-separator {
  background-color: var(--color-primary-600);
}

.nav-menu-list .nav-menu-item-btn {
  cursor: pointer;
  padding: 14px 16px 14px 0;
}

.nav-list-item:hover .nav-menu-item-btn {
  color: var(--color-primary-600);
}

.nav-submenu-container {
  border: 0;
  margin-top: -5px;
  position: absolute;
  left: 0;
}

.btn-actions {
  text-decoration: none;
}

.language-selector {
  cursor: pointer;
}

.language-selector svg {
  vertical-align: middle;
}

/* Animations */
@keyframes fadeInDownMenuItem {
  0% {
    opacity: 0;
    transform: translateY(-24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  75%, to {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

@keyframes bounce {
  0%, to {
    animation-timing-function: cubic-bezier(.8,0,1,1);
    transform: translateY(-25%);
  }
  50% {
    animation-timing-function: cubic-bezier(0,0,.2,1);
    transform: none;
  }
}
